[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
nltk = "*"
pandas = "*"
numpy = "*"
wordcloud = "*"
matplotlib = "*"
seaborn = "*"
unidecode = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
